<h1 class="header">Departments</h1>
<table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Head</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let department of departments | paginate: { itemsPerPage: 2, currentPage: p }; let i=index">
        <td>{{department.id}}</td>
        <td>{{department.departmentName}}</td>
        <td>{{department.location}}</td>
        <td>{{department.departmentHead}}</td>
      </tr> 
    </tbody>
  </table>

<div style="margin-left: 43%;" *ngIf="departments">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>